<table *ngIf="cart != null">
    <tr>
      <td>Name:</td>
      <td>{{ cart.name }}</td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>{{ cart.address }}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{ cart.email }}</td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td>{{ cart.phone }}</td>
    </tr>
    <tr>
      <td>Express:</td>
      <td>{{ cart.express }}</td>
    </tr>
    <tr>
      <td>Delivery:</td>
      <td>{{ cart.delivery }}</td>
    </tr>
    <tr>
      <td>Total:</td>
      <td>{{ total }}</td>
    </tr>
  </table>
  
